.main-container{
    width: auto;
    height: auto;
}

.abt-img{
    width: 85%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 3rem; */
    margin-left: 6rem;
    background-size: cover;
}

.abt-img:hover{
    transform: scale(1.1);
    animation: bounce 0.5s;
}

.us h1,h2{
    gap: 0.5rem;
}
.inci{
    color: blue;
}

.aboutus h3{
    font-size: 100px;
    color: rgb(14, 13, 13);
}

.us2{
    margin-top: 6rem;
}

.text1{
    margin-top: 2rem;
}
.us h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.text1 h3{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: none;
}

.us2 h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.us3 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.us3 h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.us4{
    background-color: blue;
}

.us4:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: bounce 0.5s;
}

.guiding-values h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.user-satisfaction{
    margin-left: 10rem;
    color: white;
}

.user-satisfaction h1{
    align-items: flex-start;
    justify-content: center;
    margin-left: 3rem;
}

.user-satisfaction h3{
    align-items: flex-start;
    justify-content: center;
}

.team-work{
    margin-left: 50rem;
    justify-content: center;
    color: white;
}

  .circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 15rem;
}

.circle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle-image {
    width: 160px; 
    height: 160px; 
    border-radius: 50%;
    object-fit: cover;
}

.circle-text {
    color: black;
    margin-top: 0%;
}

.meet{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 1rem;
}

h3{
    margin-bottom: 0%;
}