.scenerio{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Scenerio-holder{
    width: 82%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:70px;
    padding-bottom: 70px;;

}
.Scenerio-title{
    width: 38%;
    /* width: 438px; */
height: 195px;
display: flex;
flex-direction: column;
justify-content: flex-end;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
text-align: left;
color:
rgba(53, 51, 51, 1);

/* top: 1367px;
left: 150px;
gap: 0px;
opacity: 0px; */

& span{
    color:
    rgba(7, 42, 203, 1);

}

}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap:72px



    
   
}
.Main-box{
    width: 28%;
    height: 474.47px;
    display: flex;
    flex-direction: column;
    gap:20px;
    /* justify-content: space-between; */
}
.Main-boxImg{
    width: 100%;
    Height:260.47px;

    & img{
        width: 100%;
        height: 100%;
        object-position: center;

    }
}
.Main-boxText{
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.Main-box-title{
    width: 85%;
    height: auto;
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
color:#353637;

}
.Main-box-text{
    width: 100%;
    height: 126px;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21.09px;
text-align: center;
color:#302E2E;

}
@media screen and (max-width:900px){
    .Scenerio-holder{
        width: 94%;
        /* border: solid blue; */
    }
    .Scenerio-title{
        width: 45%;
        
        font-size: 35px;

    }
    .Main-box{
        width: 43%;
        height: 370px;


    }
    .Main-boxImg{
        height: 45%;
    }
    .Main-boxText{
        gap:10px
    }
   
    
}
@media (min-width: 310px) and (max-width: 500px)  {
   .scenerio{
    margin-top:30px;
   }
   .Scenerio-holder{
    align-items: center;

   }
   .Scenerio-title{
    display:block;
    width: 90%;
    height: 80px;
    font-size: 29px;
    text-align: center;
    line-height: normal;
    align-items: center;

   }
   .main{

    display: block;
    gap:30px;

   }
   .Main-box{
    width: 75%;
    height: 60vh;
    margin: 20px;;

   }
   .Main-box-title{
    width: 100%;
   }
}