.description-container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    box-sizing: border-box; 

}

.text-con {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    /* border: solid red; */
    box-sizing: border-box;

}

.text-con p {
    /* font-size: 1.4rem; 
    margin-bottom: 1rem;  */

color: #434141;

font-family: Roboto;
font-size: 20.434px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.words {
    color: blue;
}

.description-inp {
    width: 100%;
    height: max-content;
   min-height: 150px;
    padding: 0.5rem; 
    box-sizing: border-box;
    font-size: 1rem; 
    resize: vertical; 
}

.btn-btn-description {
    width: 100%; 
    max-width: 200px; 
    height: 45px;
    background-color: blue;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem; 
    border-radius: 0.5rem; 
    cursor: pointer;
    border: none; 
    text-align: center; 
    /* margin-left: 40px; */
}
.FalseAlertBtn{
    width: 180px;
    height: 45px;
    background-color: red;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem; 
    border-radius: 0.5rem; 
    cursor: pointer;
    border: none; 
    text-align: center; 
}
.FalseAlertBtn,
.btn-btn-description{
cursor: pointer;
}

.description-btnDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .text-con p {
        font-size: 1.1rem; 
    }

    .description-inp {
        height: 120px; 
    }

    .btn-btn-description {
        font-size: 0.9rem; 
        margin-left: 16rem;
    }
}

@media (max-width: 480px) {
   
    .text-con p {
        font-size: 10px; 
        font-weight: 700;
    }

    .description-inp {
        height: 100px; 
    }

    .btn-btn-description, 
    .FalseAlertBtn{
        width:35%; 
        max-width: none; 
        font-size: 0.8rem; 
        margin-left: 0rem;
    
    }
}
