.Profile {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

.ProfilePageHeader {
    width: 20%;
    height: 11%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ProfileLogo {
    width: 70%;
    height: 80%;
    background: url(../../assets//logo.svg);
    /* background-color: aliceblue; */
    background-repeat: no-repeat;
    background-size: contain;

}

.Profile-Main {
    width: 100%;
    height: 88%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile-SubHeader {
    width: 48%;
    height: 12%;
    background: #E0E3F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.ProfileCatBtn {
    width: 34%;
    height: 60%;
    background-color: #072ACB;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    border: none;
}

.ProfileEmgBtn {
    width: 34%;
    height: 60%;
    /* background-color: #072ACB; */
    border-radius: 5px;
    border: 1 px solid #072ACB;
}
