.ForgotPassword{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
}
.ForgotPassword-leftHolder{
    width: 25%;
    height: 100%;
    background: #E0E3F2;
    

}
.ForgotPassword-rightHolder{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5%;

}
.ResetPassword-header{
    width: 60%;
height: 8%;
display: flex;
flex-direction: column;
color: #111;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
gap:5px;

}
.ResetPassword-textHolder{
/* background-color: blue; */
display: flex;
align-items: center;
justify-content: center;

  
    color: rgba(0, 0, 0, 0.50);

font-family: "Montserrat Alternates";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.resetInput{
    width: 50%;
    height: 45px;
    padding: 10px;
}
.resetBtn{
    width: 50%;
    height: 40px;
    background: #072ACB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: white;
border: none;
}
.resetBtn:hover{
    cursor: pointer;
}