.contactIconsBody{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactIconsInner{
    width: 92%;
    height: 85%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 80px;
}

.contactIconsDiv{
    width:40%;
height:40%;
background-color: white;
padding: 10px;
gap: 30px;
border-radius: 20px;
border: 2px #979494a9 solid;
display: flex;
flex-direction: column;
align-items: center; 
/* background: #000; */
transition: 350ms;
}

.contactIconsDiv:hover{
    transform: scale(1.02);
transition: 350ms ease-in-out;
border: 2px solid white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.commentIcon{
    width: 25%;
height: 20%;
/* background: #000; */
}

.commentIconText{
    width:100%;
height:55%;
display: flex;

flex-direction: column;
gap: 10px;
/* background:white; */
}

.chatUsDiv{
    width: 100%;
height: 15%;
gap: 0px;
/* background: red; */
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
}

.ourFaqDiv{
    width: 100%;
height:30%;
color: #747070;
font-family: Roboto;
font-size: 15px;
font-weight: 600;
line-height: 21.09px;
letter-spacing: 0.04em;
text-align: center;
display: flex;
/* background: blue; */
justify-content: center;

>.IconPTag{
    width: 70%;
    line-height:30px;
}
}

.startChatDiv{
    width: 100%;
height: 30%;
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29.26px;
text-align: left;
display: flex;
color:#072AC8;;
align-items: center;
/* background: green; */
justify-content: center;
}


@media screen and (max-width:500px) {

    .contactIconsInner{
        display: flex;
        gap: 10px;
        width: 50%;
        flex-direction: column;
    }
    
}