.Footer {
    width: 100%;
    height: 500px;
    background: #121111;
    display: flex;
    gap: 30px;


}

.Footer-section1 {
    width: 26%;
    height: 100%;


    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 33px;

}

.Fotter-logo {
    width: 80%;
    height: 187.8px;
    margin-top: 33px;
    gap: 0px;
    opacity: 0px;
align-self: flex-end;


    /* border: 1px solid black; */


    img{
        width: 100%;
        height: 100%;

    }

}

.footer-contact-text {
    width: 70%;
    height: 53px;
    margin-left: 80px;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    /* text-align: left; */
    color: white;



}

.footericon {
    width: 195px;
    height: 45px;
    margin-left: 50px;
    gap: 30px;
    opacity: 0px;
    display: flex;




}

.Footer-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #072AC8;
    display: flex;
    align-items: center;
    justify-content: center;


}

.Footer-section2 {
    width: 63%;
    height: 100%;
    display: flex;
    align-items: center;

}

.Footer-section2-inner {
    width: 100%;
    height: 261px;
    gap: 117px;
    display: flex;

}

.Footer-section-2A {
    width: 33%;
    height: 261px;
    display: flex;
    flex-direction: column;


    gap: 50px;
}

.Fotter-section2-QuicklinkHolder {
    width: 100%;
    height: 29px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    color: white;
    

}

.Footer-section2-aboutusHolder {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;




    & p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 24.38px;
        text-align: left;
        color: white;

    }
}

.Footer-section-2b {
    width: 47%;
    height: 211px;
    display: flex;
    flex-direction: column;
    gap: 40px;



}

.Fotter-section2-ContactHolder {
    width: 100%;
    height: 29px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    color: white;

}

.Footer-section2-infoHolder {
    width: 100%;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   


    & p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 24.38px;
        text-align: left;
        color: white;

    }
}

.Footer-section-2c {
    width: 20%;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    align-items: center;
    justify-content: center;
}

.Fotter-section2-NewsHolder {
    width: 100%;
    height: 29px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    color: white;

}

.suscribeBtn {
    width: 133px;
    height: 41px;
    border: 1px solid white;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color:white;


}
.suscribeBtn:hover{
    cursor: pointer;
    background: #072ACB;

}
@media screen and (max-width:900px){
    .Footer {
        height: 350px;
    }
    .Footer-section1 {
        width: 25%;
        align-items: flex-end;        
    }
    .Fotter-logo {
        width: 80%;
        height:29%;
    }
    .footer-contact-text {
        width: 85%;
        height: 18%;
        font-size: 14px;
    }
    .footericon {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .Footer-icon {
        width: 35px;
        height: 35px;
    }
    .Footer-section2 {
        width: 70%;
    }
    .Footer-section2-inner {
        gap:15px;
    }
  
    .Footer-section-2A {
        width: 28%

    }
   
    .Fotter-section2-ContactHolder,
     .Fotter-section2-QuicklinkHolder,
      .Fotter-section2-NewsHolder{
        font-size: 17px;
    }
    .Footer-section-2b {
        width: 40%;
    }
    .Footer-section2-infoHolder,
    .Footer-section2-aboutusHolder{


        & p{
            font-size: 15px;

        }
    }

}
  /* @media screen and (max-width: 1300px){
    .Fotter-section2-ContactHolder {
        font-size: 19px;
    }
        

} */
@media (min-width: 310px) and (max-width: 500px)  {
    .Footer{
        width: 100%;
        height: 200px;
        gap:10px;
        margin-bottom: 0;
        overflow: hidden;
        /* display: none; */
    }
    .Footer-section2-inner{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        gap:10px;
    }
    .Footer-section1{
        width: 30%;
        /* gap:10; */
        height: 100%;
        
    }
    .Fotter-logo{
        height: 25%;
        /* width: 100%; */

    }
    .footer-contact-text{
        display: block;
        text-align: center;
        width: 90%;
        height: 20%;
        margin-left: 0;;

      
        line-height: normal;

        font-size: 10px;    }
       
        .footericon{
            width: 100%;
        gap:10px;

        }
        .Footer-icon{
            width: 20px;
            height: 20px;
        }
        .Footer-section-2A{
            display: block;
            height: 55%;
        
        }
        .Fotter-section2-QuicklinkHolder{
            font-size: 8px;
            line-height: normal;
            

        }
        .Footer-section2-aboutusHolder{
            display: block;

            & p{
            font-size: 7px;
            text-align: center;


            }
        }
        .Footer-section-2b{
            width: 43%;
            height: 55%;
            display: block;

        }
        .Fotter-section2-ContactHolder{
            font-size: 8px;
            line-height: normal;
        }
        .Footer-section2-infoHolder{
            display: block;

            & p{
                font-size: 9px;
                text-align: center;
            }
        }
        .Footer-section-2c{
            display: block;
            align-items: center;
            width: 26%;
            height: 55%;
            gap:5px;

        }
        .Fotter-section2-NewsHolder{
            font-size: 10px;
            line-height: normal;
        }
        .suscribeBtn{
            width: 50px;
            height: 15px;
            font-size: 9px;
            margin-left: 10px;
        }
       
}

 