.IncidentReporting {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.incidentHeader {
    width: 765px;
    height: 59px;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
text-align: left;
color: #072AC8;



}
.Incident-Main{
    width: 92%;
    height: aut0;
    display: flex;
    position: relative;


    /* background-color:red; */
}
.incidentMain-section1{
    width: 50%;
    height: 670px;
    display: flex;
    align-items:flex-end;

}
.IncidentMainSection1{
    width: 100%;
    height: 560px;
    /* border: solid red; */



    & img{
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
        object-position: center;
    }

    
}
.IncidentMain-section2{
    width: 50%;
    height: auto;
    /* background-color: #072AC8; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap:49px;
    margin-bottom: 30px;
}

.IncidentMain-section2a{
    width: 503px;
    height: 107px;
    display: flex;
    /* border: solid blue; */
    gap:20px;
    margin-left:-150px ;
    
}
.IncidentMain-section2acircle{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #EF233C;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
color:#EF233C;

}
.IncidentMain-section2atext{
width: 403px;
height: 107px;
display: flex;
flex-direction: column;
gap:10px;


& p{
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29.26px;
text-align: left;

}
}
.IncidentMain-section2atext1{
width: 403px;
height: 34px;
/* display: flex; */
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

}

.IncidentMain-section2b{
    width: 566px;
    height: 107px;
    display: flex;
    gap:20px;
    margin-left:-20px ;

}
.IncidentMain-section2bcircle{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #EF233C;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
color:#EF233C;

}
.IncidentMain-section2btext{
width: 466px;
height: 107px;
display: flex;
flex-direction: column;
gap:10px;


& p{
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29.26px;
text-align: left;

}
}
.IncidentMain-section2btext1{
width: 403px;
height: 34px;
/* display: flex; */
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

}
.IncidentMain-section2c{
    width: 554px;
    height: 107px;
    display: flex;
    gap:17px;
}
.IncidentMain-section2ccircle{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #EF233C;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
color:#EF233C;

}
.IncidentMain-section2ctext{
width: 457px;
height: 107px;
display: flex;
flex-direction: column;
gap:10px;


& p{
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29.26px;
text-align: left;

}
}
.IncidentMain-section2ctext1{
width: 403px;
height: 34px;
/* display: flex; */
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

}
.IncidentMain-section2d{
    width: 554px;
    height: 107px;
    display: flex;
    gap:17px;
}
.IncidentMain-section2dcircle{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #EF233C;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
color:#EF233C;

}
.IncidentMain-section2dtext{
width: 457px;
height: 107px;
display: flex;
flex-direction: column;
gap:10px;


& p{
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29.26px;
text-align: left;

}
}
.IncidentMain-section2dtext1{
width: 403px;
height: 34px;
/* display: flex; */
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

}
.IncidentMain-section2e{
    width: 554px;
    height: 107px;
    display: flex;
    gap:17px;
    margin-left: -50px;
}
.IncidentMain-section2ecircle{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #EF233C;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
color:#EF233C;

}
.IncidentMain-section2etext{
width: 457px;
height: 107px;
display: flex;
flex-direction: column;
gap:10px;


& p{
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29.26px;
text-align: left;

}
}
.IncidentMain-section2etext1{
width: 403px;
height: 34px;
/* display: flex; */
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

}
.IncidentMain-section2f{
    width: 548px;
    height: 107px;
    display: flex;
    gap:17px;
    margin-left: -160px;

}
.IncidentMain-section2fcircle{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #EF233C;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
color:#EF233C;

}
.IncidentMain-section2ftext{
width: 448px;
height: 107px;
display: flex;
flex-direction: column;
gap:10px;


& p{
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29.26px;
text-align: left;

}
}
.IncidentMain-section2ftext1{
width: 403px;
height: 34px;
/* display: flex; */
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

}