*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

.HomePageContainer{
    width: 100%;
    height: max-content;
}

.HomePgeContainerInner{
    width: 100%;
    height: 450px;
    background: #EFF0F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePageHerosection{
    width: 80%;
    height: 85%;
    display: flex;
    gap: 10px;
}

.HomePageHeroInnerSideOne{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.HomePageHeroInnerSideTwo{
    width: 50%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.CallImage{
    width: 450px;
    height: 100%;
}

.HomePagesImagesStageInner{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.HomePageImagesStage{
    width: 80%;
    height: max-content;
    /* background-color: red; */
}

.HomePagesImageStageInnerOne{
    width: 100%;
    height: 150px;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
}

.HomePageImageTextConatinerHloder{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.HomePageImageTextConatinerHloderTwo{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.HomePagesImageStageInnerTwo{
    width: 100%;
    height: 150px;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.HomePagetextContainerHolderTwo{
    width: 50%;
    /* background-color: red; */
}

.HomePageConatinerRape{
    width: 40%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.HomePageRapeSymbolMobile{
    display: none;
}

.HomePagesImagesStageInnerTwo{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: #E3E6F4;
}

.HaomePageImageIconsDestop{
    width: 100px;
}